/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: DM Sans, sans-serif;
    color: #1A1C21;
}
a {text-decoration: none;}
li {list-style-type: none;}
h1 {font-size: 48px;}

.background {
    z-index: -5;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content{
    margin: auto;
    width: 85vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* ANIMATIONS */
@keyframes move {
    0%{ transform: translateY(0px); }
    50%{ transform: translateY(20px); }
    100%{ transform: translateY(0px); }
}

/* NAV BAR */
.nav{
    margin: auto;
    display: flex;
    z-index: 15;
    padding: 2% 4%;
    position: fixed;
    top: 0px;
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo > p {
    color: #2A22C3;
    white-space: nowrap;
    margin-left: 4px;
    font-size: 24px;
    font-weight: 500;
}

.menu{
    width: 100%;
    justify-content: right;
    justify-self: right;
}

.menu > a{
    cursor: pointer;
    display: flex;
    margin: 0 0 0 4%;

    font-size: 18px;
    font-weight: 400;
    opacity: 50%;
}
.menu > a:hover{ 
    opacity: 100%;
    color: #2A22C3;
}
.menu > a:current{
    opacity: 100%;
    color: #2A22C3;
}

/* SCROLL*/
.up{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 4%;
    cursor: pointer;
    width: 50px;
    opacity: 15%;
}
.up:hover{
    transform: scale(1.2);
    opacity: 25%;
}
.arrow{
    cursor: pointer;
    opacity: 100%;

    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}
.arrow:hover{ opacity: 50%; }

/* INTRO */
.intro{
    display: flex;
    width: 100%;
    height: 100vh;
}

#introText{
    z-index: 10;
    width: 50%;
    white-space: nowrap;
    margin-bottom: -500px;
    opacity: 0%;
    justify-self: left;
}

#introText > h3 {
    font-weight: 400;
}

#introSlide{
    margin-left: -40%;
    width: 90%;
    align-content:flex-end;
}

.tiltContainer{
    position: relative;
    transition: all 0.6s ease-in-out;
    perspective: 1000px;
}
.tiltContainer:hover{
    transition: all 0.3s linear;
    transform: scale(1.1);
    perspective: 1000px;
}
.tilt{
    position: relative;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: right;

    transition: all 0.6s ease-in-out;
    transform: rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
}

.tilt > img{
    transform: translateZ(40px);
}

/* ------------------------------ */
/* WORK */
/* ------------------------------ */

.work{
    width: 100%;
    margin:auto;
    
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 100%;
    justify-content: center;
}

.grid-container {
    width: 100%;
    height: auto;
    display:grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: minmax(min-content, max-content);
    grid-gap: 2%;
    grid-row-gap: 4%;
    justify-content: center;
    margin: auto;
}

.grid-items{
    flex: 33.3% 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.grid-items > a > h5 {color:white;}
.grid-items > a > p {color:white;}

.image-container {
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container > img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    background-color: rgba(0,0,0,0.75);
    opacity: 0%;
}
  .info-container:hover{ opacity: 100; }
  .info-container > p{ margin-top: 5%; }

/*MOBILE*/
@media screen and (max-width: 768px) {
    
}