/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: all-round-gothic, sans-serif;
    color: black;
}
a {text-decoration: none;}
li {list-style-type: none;}

.background {
    z-index: -5;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
}

/*MOBILE*/
@media screen and (max-width: 768px) {
    
}